.card {
  width: 282px;
  padding-bottom: 26px;
  background-color: white;
  border-radius: 10px;
  display: flex;

  flex-direction: column;
}

.card__image {
  object-fit: contain;
  width: 282px;
  height: 282px;
  align-self: flex-start;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__info {
  display: flex;
  flex-direction: row;
}
.card__text {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin: 25px 0 0 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like {
  background-image: url("../images/heart.svg");
  width: 21px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-style: none;
  background-color: transparent;
  align-self: center;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 31px;
  transition-timing-function: ease-in;
  transition-duration: 0.1s;
  cursor: pointer;
}

.card__like:hover {
  opacity: 0.5;
}

.card__delete {
  position: absolute;
  width: 18px;
  height: 20px;
  background: transparent;
  border: none;
  background-image: url("../images/trash.svg");
  margin-top: 18px;
  margin-left: 249px;
  transition-timing-function: ease-in;
  transition-duration: 0.1s;
  cursor: pointer;
}

.card__delete:hover {
  opacity: 0.5;
}
