.footer {
  background-color: black;
  max-width: 880px;
  align-self: stretch;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 67px 0 0 17vh;

  color: #545454;
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .footer__copyright {
    margin-top: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 929px) {
  .footer {
    max-width: 929px;
  }
}
