.header {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(33, 33, 33, 0.7);
  padding-bottom: 41px;
  max-width: 880px;
  min-width: 369px;
}

.header__logo {
  width: 173px;
  height: 33px;
  margin-top: 45px;
}

@media screen and (max-width: 930px) {
  .header {
    background-color: black;
    max-width: 530px;
    min-width: 369px;
  }

  .header__logo {
    width: 150px;
    height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 320px;
    min-width: 0;

    padding-bottom: 32px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}
