.modal {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", Arial, sans-serif;
  width: 100%;
  min-height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
  display: flex;
  cursor: pointer;
}
.modal__preview {
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  max-height: 75vh;
  position: relative;
}
.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
}
.modal__close {
  width: 40px;
  height: 40px;
  position: absolute;
  left: auto;
  bottom: auto;
  top: -40px;
  right: -40px;
  margin: 0;
  background-image: url("../images/CloseIcon.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__close-preview {
}

.modal__container {
  background-color: white;
  width: 430px;
  height: 330px;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -282px;
  margin-left: -282px;
  z-index: 100;
}

.modal__form {
}

.modal__heading {
  font-weight: 900;
  margin-top: 25px;
  margin-bottom: 54px;
  font-size: 24px;
  line-height: 1.2;
}

.modal__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
  margin: 0 0 0 36px;
  position: relative;
}

.modal__label {
  margin-bottom: 30px;
  padding-bottom: 14px;
  font-weight: 400;
  font-size: 14px;
  height: 14px;
}

.modal__label:last-child {
  margin-bottom: 0;
  margin-top: 13px;
}

.modal__input {
  padding-right: 175px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;

  border-bottom: 1px rgba(black, black, black, 0.2);
  border-bottom-width: 1px;
  padding-bottom: 14px;
  height: 14px;
  display: flex;
}

.modal__input-invalid {
  border-bottom: 1px solid red;
  margin-bottom: 5px;
}

.modal__input-error {
  margin-top: 5px;
  color: red;
}

.modal__button {
  width: 358px;
  height: 50px;
  background-color: black;
  color: white;

  margin-top: 48px;
  border-radius: 2px;
  cursor: pointer;
  border: none;
}

.modal__button:hover {
  opacity: 20%;
}

.modal__button-inactive {
  cursor: not-allowed;
  color: #c4c4c4;
  background-color: white;
  border: 1px solid #c4c4c4;
}

.modal__button-inactive:hover {
  opacity: 100%;
}

@media screen and (max-width: 768px) {
  .modal__container {
    width: 282px;
    height: 322px;
    margin-top: -161px;
    margin-left: -141px;
    left: 50%;
    bottom: 50%;
  }

  .modal__fieldset {
    margin-left: 22px;
  }
  .modal__input {
    padding-right: 81px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    margin-top: 45px;
  }
  .modal__heading {
    font-size: 18px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    left: 282px;
    bottom: 26px;
    background-size: 26px 26px;
  }
}
