.modal {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", Arial, sans-serif;
  width: 100%;
  min-height: 100%;
  position: fixed;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 0;
}
.modal__preview {
  position: fixed;
  left: 50%;
  margin-left: -282px;
  margin-top: 282px;
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.modal_opened {
  display: flex;
  visibility: visible;
}
.modal__close {
  width: 40px;
  height: 40px;
  position: relative;
  left: 430px;
  bottom: 40px;
  background-image: url("../images/CloseIcon.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border-style: none;
  background-color: transparent;
}

.modal__close-preview {
  left: 560px;
  bottom: 0;
}

.modal__container {
  background-color: white;
  width: 430px;
  height: 330px;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -282px;
  margin-left: -282px;
}

.modal__form {
}

.modal__heading {
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 24px;
  line-height: 1.2;
}

.modal__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
  margin: 0 0 0 36px;
  position: relative;
}
.modal__label {
  font-weight: 400;
  font-size: 14px;
  height: 14px;
}

.modal__label {
  margin-bottom: 30px;
  padding-bottom: 14px;
}

.modal__label:last-child {
  margin-bottom: 0;
}

.modal__input {
  padding-right: 175px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;

  border-bottom: 1px rgba(black, black, black, 0.2);
  border-bottom-width: 1px;
  padding-bottom: 14px;
  height: 14px;
}

.modal__button {
  width: 358px;
  height: 50px;
  background-color: black;
  color: white;
  border: 0;
  margin-top: 48px;
  border-radius: 2px;
}

@media screen and (max-width: 768px) {
  .modal__container {
    width: 282px;
    height: 322px;
    margin-top: -161px;
    margin-left: -141px;
    left: 50%;
    bottom: 50%;
  }

  .modal__fieldset {
    margin-left: 22px;
  }
  .modal__input {
    padding-right: 81px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    margin-top: 45px;
  }
  .modal__heading {
    font-size: 18px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    left: 282px;
    bottom: 26px;
    background-size: 26px 26px;
  }
}
