.profile {
  display: flex;
  margin-top: 40px;
  margin-bottom: 51px;
  font-family: "Inter", Arial, sans-serif;
  justify-content: space-between;
}

.profile__info {
  display: flex;
  flex-direction: row;
}
.profile__picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__text {
  justify-content: center;
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
}

.profile__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;
  margin-left: auto;
}
.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.143;

  color: #ffffff;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;

  color: #ffffff;

  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit {
  width: 10px;
  height: 10px;
  border-width: 24px;
  padding: 12px;
  border: 1px solid white;
  background-image: url("../images/pencil.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  margin-left: 18px;
  margin-top: 5px;
  transition-timing-function: ease-in;
  transition-duration: 0.1s;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: 0.6;
}

.profile__add {
  background-image: url("../images/Add\ Button.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  width: 22px;
  height: 22px;
  align-self: center;
  transition-timing-function: ease-in;
  transition-duration: 0.1s;
  background-color: transparent;
  border: 2px solid white;
  padding: 25px 75px 25px 75px;
  background-position: center;
  border-radius: 2px;
  cursor: pointer;
}

.profile__add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 929px) {
  .profile__add {
    margin-left: auto;
    margin-right: auto;
  }
  .profile__name {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 1.45;
  }

  .profile__subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.47;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    margin-top: 39px;
    margin-bottom: 0;

    align-items: center;
  }

  .profile__info {
    flex-direction: column;
    align-items: center;
  }

  .profile__picture {
    margin-top: 42px;
    margin-right: 0;
  }

  .profile__title {
    margin-bottom: 14px;
    margin-top: 30px;
    text-align: center;
    margin-right: 0;
  }
  .profile__name {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
  }

  .profile__subtitle {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }

  .profile__edit {
    width: 8px;
    height: 8px;
    padding: 9px;
  }
  .profile__add {
    margin: 36px 0 36px 0;
    width: 282px;
    height: 50px;
  }
}
