.cards {
  display: grid;
  row-gap: 20px;
  column-gap: 17px;
  grid-template-rows: repeat(auto-fit, 361px);
}

@media screen and (max-width: 31000px) {
  .cards {
    grid-template-columns: repeat(3, 282px);
  }
}

@media screen and (max-width: 929px) {
  .cards {
    grid-template-columns: repeat(2, 282px);

    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(1, 282px);
  }
}
